<mat-card>
    <mat-card-title>Novo Colaborador</mat-card-title>
        <form style="display:flex; flex-direction: column;">
            <mat-form-field>
                <input matInput placeholder="Nome" [(ngModel)] = "colaborador.nome" name="nome">             
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="CPF" [(ngModel)] = "colaborador.CPF" name="CPF">             
            </mat-form-field>
            
                <mat-form-field >
                    <input type="text" bsDatepicker  [bsConfig]="datepickerConfig" matInput placeholder="Data de Nascimento: DD/MM/AAAA" [(ngModel)] = "colaborador.nascimento" name="nascimento">             
                </mat-form-field>
         
            <mat-radio-group [(ngModel)] = "colaborador.genero" class="radio" name="genero">
                <label>Gênero:</label>
                <mat-radio-button value="1">Masculino</mat-radio-button>
                <mat-radio-button value="2">Feminino</mat-radio-button>
              </mat-radio-group>
              
              <mat-checkbox [(ngModel)] = "colaborador.ativo" class="top-espacing" name="ativo">Ativo</mat-checkbox>
        
              <label class="top-espacing">Setor:</label>
              <select [(ngModel)]="colaborador.setor" name="setor">
                  <option placeholder="Selecione..." *ngFor="let setor of setores" [ngValue]="setor">{{ setor }}</option>
              </select>
            </form>
        
    <button class="top-espacing" mat-raised-button (click)="createColaborador()" color="primary">
        Salvar
    </button>
    
    <button class="top-espacing" mat-raised-button (click)="cancel()">
        Cancelar
    </button>

</mat-card>
