<h1>{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->

<button type="submit" class="top-espacing" mat-raised-button (click)="goToConcert()" color="primary">
  Concert
</button>

<button class="top-espacing" mat-raised-button (click)="goToMcDonalds()">
  McDonalds
</button>

<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
  <agm-marker [latitude]="latMarker" [longitude]="lngMarker"></agm-marker>

  <agm-circle [latitude]="latCircle" [longitude]="lngCircle" [radius]="raio"></agm-circle>

</agm-map>