<mat-card class="max-widht">
    <mat-card-title>Atualizar Pessoa</mat-card-title>
<form class="form-horizontal" [formGroup]="formulario" #formDirective="ngForm"
 (ngSubmit) ="onSubmit(formDirective)">
    <div class="form-group">
        <mat-form-field>
            <input matInput type="text" class="form-control" formControlName="nome" id="nome" placeholder="Nome">
        </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field>
            <input matInput type="text" class="form-control" formControlName="email" id="email" placeholder="nome@email.com">
        </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field>
            <input matInput type="number" class="form-control" formControlName="idade" id="idade" placeholder="Idade">
        </mat-form-field>
    </div>

    <button mat-raised-button color="primary" type="submit" class="btn btn-primary top-espacing" [disabled]="! formulario.valid">Salvar</button>
    <button class="btn top-espacing" mat-raised-button (click)="cancelar()">Cancelar</button>
    <!-- <app-form-debug [form]="formulario"></app-form-debug> -->
</form>